spring:
  application.name: Frontpage Service
  main.banner-mode: off

server:
  port: 8081
  tomcat.accesslog.enabled: true

management:
  endpoint.prometheus.enabled: true
  endpoints:
    web.base-path: /
    enabled-by-default: false
    web.exposure.include: prometheus
    web.path-mapping.prometheus: prometheus-metrics

ardalo-platform:
  platform-gateway:
    base-url: http://platform-gateway:8080/api
